# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/
!*.tex
!*.sty
!*.bib
!*.bst
!paper/figures/*.pdf
# And all the file types you're interested in.
!*.py
!*.txt
!.gitignore
!.gitmodule
!.travis.yml
!*.md
!src/*.sh
!src/third_party/hyperwords/*
