[submodule "src/third_party/neuralcompressor"]
	path = src/third_party/neuralcompressor
	url = https://github.com/avnermay/neuralcompressor.git
[submodule "src/third_party/GloVe"]
	path = src/third_party/GloVe
	url = https://github.com/avnermay/GloVe.git
