language: python
dist: trusty

python:
  - "3.6"

before_install:
  - pip install https://download.pytorch.org/whl/cu90/torch-1.0.0-cp36-cp36m-linux_x86_64.whl --quiet

script:
  - pip install -e /home/travis/build/HazyResearch/smallfry
  - pytest


